@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(16, 11, 39);
}
.large_screen {
    display: none;
    visibility: hidden;
    opacity: 0;
}
button {
    cursor: pointer;
    transition: all .25s ease-in-out;
}
button:hover {
    transform: scale(1.1);
}
/* navigation */
.navigation .row_one {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
}
.navigation .row_one .column_one {
    display: grid;
    grid-template-columns: 3em 1fr;
}
.navigation .row_one .column_one .nav_items {
    position: fixed;
    z-index: 1001;
    width: 100%;
    overflow-y: auto;
    height: 100vh;
    background-color: rgb(16, 11, 39);
}
.sideBar {
    left: 100vh;
}
.opennav {
    left: 0;
}
.navigation .row_one .column_one .nav_items .cancel {
    width: 100%;
    display: grid;
    justify-content: right;
}
.navigation .row_one .column_one .nav_items .cancel img {
    width: 3.5em;
    padding: 1em 1em;
}
.navigation .row_one .column_one .nav_items .nav_list ul {
    text-align: center;
    display: grid;
    list-style: none;
    grid-gap: 1em;
    margin: 2em auto;
}
.navigation .row_one .column_one .nav_items .nav_list ul li {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
}
.navigation .row_one .column_one .nav_items .nav_list ul li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 2px;
    padding: 1em 0;
    border: 1px solid rgba(255, 0, 221, 0.308);
    border-radius: 8px;
}

.navigation .row_one .column_one .nav_items .nav_list ul #login {
    background-color: rgba(255, 0, 221, 0.692);
    border: none;
    border-radius: 50px;
    margin: 1em 3em;
    padding: .5em 1em;
}
.column_one .logo {
    padding: .3em 0;
}
.column_two .logins {
    display: grid;
    padding: .2em;
    padding-top: .9em;
    justify-content: end;
    grid-template-columns: 1fr 2em;
    grid-gap: 1em;
}
.column_two .logins .login_btn {
    display: grid;
    justify-content: end;
}
.column_two .logins .login_btn button {
    padding: .5em 1em;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    outline: none;
    border: 1.5px solid rgb(255, 0, 221);
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.column_two .logins .menu {
    align-self: center;
}
.column_two .logins .menu img {
    width: 80%;
}
/* body */
.body_content .row_one .column_one {
    position: relative;
    z-index: 2;
}
.body_content .row_one .column_two{
    position: relative;
    z-index: 1;
}
.body_content .row_one .col_one .main_txt {
    width: 100%;
    margin: 2em auto;
    padding-left: 2em;
    max-width: 30em;
}
.body_content .row_one .col_one .main_txt h1{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 35px;
}
.body_content .row_one .col_one .main_txt h2{
    color: rgb(255, 0, 191);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 35px;
    padding-bottom: .5em;
}
.body_content .row_one .col_one .main_txt p {
    font-family: 'Mukta', sans-serif;
    color: rgb(197, 197, 197);
    font-size: 13px;
    padding: 0 2em 0 0;
    line-height: 19px;
    max-width: 26em;
}
.body_content .row_one .col_one .join_btn {
    display: grid;
    justify-content: start;
    padding: 0 2em;
}
.body_content .row_one .col_one .join_btn button {
    padding: .8em 3em;
    outline: none;
    border: 1px solid crimson;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.body_content .column_one .col_two .leading_ads {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .3em;
    padding: 2em .5em;
    max-width: 25em;
}
.body_content .column_one .col_two .leading_ads a {
    text-decoration: none;
}
.body_content .column_one .col_two .leading_ads .leadscompany {
    border: 1px solid rgba(245, 222, 179, 0.342);
    padding: .3em;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
.body_content .column_one .col_two .leading_ads .co_logo img{
    width: 1.5em;
    height: 1.5em;
    margin-bottom: .3em;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}
.body_content .column_one .col_two .leading_ads .aboutco h1 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding-bottom: .5em;
}
.body_content .column_one .col_two .leading_ads .aboutco p {
    color: rgb(255, 255, 255);
    font-size: 11px;
}
.body_content .column_two {
    margin: 2em 0;
}
.body_content .column_two .col_one {
    display: grid;
    justify-content: center;
}
.body_content .column_two .col_one .overlay {
    background-color: rgb(255, 0, 200);
    padding: 6em 0;
    border-radius: 35px;
    width: 15em;
    max-height: 10em;
}
.column_two .socials {
    display: grid;
    grid-gap: .2em;
    justify-content: end;
    margin: -12em 1.2em -6em 0 ;
}
.column_two .col_one .overlay .socials img {
    width: 1.8em;
}
.column_two .col_one .overlay .socials .linethrough {
    width: .05em;
    height: 3em;
    background-color: #fff;
    border-radius: 20px;
    margin: .6em 0;
    margin-left: .9em;
}
.column_two .col_one .overlay .socials .platform img {
    width: 1.8em;
    padding: .3em .6em;
    background-color: #fff;
    border-radius: 10px;
}
.body_content .column_two .col_one .overlay .illustration img{
    position: relative;
    width: 15em;
    margin: -8em 0 0 -1em;
}
/* footer */
footer {
    background-color: rgb(8, 0, 36);
}
footer .footer_content {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
}
footer .footer_content .footer_row .links {
    padding: 5em 0;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.164);
}
footer .footer_content .Copyrights .col_one {
    display: grid;
    color: rgb(212, 245, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    grid-gap: 1.4em;
}
footer .Copyrights .col_one .privacy {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 8em);
    grid-gap: .4em;
    text-align: center;
}
footer .Copyrights .col_one .privacy a {
    text-decoration: underline;
}
footer .Copyrights .col_one .companyrights {
    display: grid;
    grid-template-columns: 1em 1fr;
    grid-gap: .2em;
    margin-left: .8em;
}
footer .Copyrights .col_one .companyrights img {
    width: 1em;
    padding-top: .07em;
}
footer .Copyrights .col_one #mi {
    color: #4fbb5d;
    text-align: center;
    text-decoration: none;
}
@media all and (min-width: 320px) {
    .body_content .row_one .col_one .join_btn button {
        padding: 1em 2.5em;
    }
    .body_content .column_one .col_two .leading_ads .co_logo img{
        width: 1.9em;
        height: 1.9em;
    }
    .body_content .column_one .col_two .leading_ads .aboutco p {
        font-size: 12px;
    }
    .body_content .column_two .col_one .overlay .illustration img{
        position: relative;
        width: 16em;
        margin: -8.5em 0 0 -2em;
    }
}
@media all and (min-width: 360px) {
    .body_content .column_one .col_two .leading_ads {
        grid-gap: .5em;
        padding: 2em 1.5em;
    }
    .body_content .column_two .col_one .overlay {
        padding: 7.5em 0;
    }
    .column_two .socials {
        margin: -12.3em 1.2em -6em 0 ;
    }
    .column_two .col_one .overlay .socials img {
        width: 2em;
    }
    .column_two .col_one .overlay .socials .platform img {
        width: 2em;
        padding: .3em .6em;
    }
    .body_content .column_two .col_one .overlay .illustration img{
        position: relative;
        width: 17em;
        margin: -9em 0 0 -3em;
    }
}
@media all and (min-width: 400px) {
    .body_content .column_one .col_two .leading_ads {
        grid-gap: 1em;
        padding: 2em .5em;
    }
    .body_content .row_one .col_one .main_txt {
        margin: 2em 0;
    }
    .body_content .column_one .col_two .leading_ads {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .3em;
        padding: 2em;
        max-width: 25em;
    }
}
@media all and (min-width: 600px) {
    header .navigation .row_one .column_one .navi_items .nav_list {
        padding: 1.5em 0;
    }
    header .navigation .row_one .column_one .navi_items .nav_list ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-left: 3em;
        grid-gap: 1em;
        list-style: none;
    }
    header .navigation .row_one .column_one .navi_items .nav_list ul li a {
        text-decoration: none;
        color: rgb(218, 245, 255);
        font-family: 'Dosis', sans-serif;
        font-size: 13px;
        letter-spacing: 1px;
        transition: all .25s ease-in-out;
    }
    header .navigation .row_one .column_one .navi_items .nav_list ul li a:hover {
        color: rgb(255, 0, 221);
    }
    header .navigation .row_one .column_two .loginx {
        padding: 1em 1em;
        display: flex;
        justify-content: end;
        grid-gap: 1em;
    }
    header .navigation .row_one .column_two .loginx .login_btn {
        display: grid;
        justify-content: end;
    }
    header .navigation .row_one .column_two .loginx .login_btn button {
        padding: .5em 1.4em;
        border: 1px solid rgb(255, 0, 255);
        outline: none;
        border-radius: 10px;
        background-color: transparent;
        color: rgb(255, 255, 255);
    }
    header .navigation .row_one .column_two .loginx .login_btn #su {
        background-color: rgb(140, 0, 255);
        border: 1px solid rgb(140, 0, 255);
    }
    .small_screen {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .large_screen {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .body_content .row_one {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .3em;
        padding: 1em .5em;
    }
    .body_content .row_one .col_one .join_btn button {
        padding: .7em 2em;
    }
    .body_content .column_one .col_two .leading_ads {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .2em;
        padding-right: 0;
    }
    .body_content .column_two .col_one .overlay {
        padding: 9em 0;
        margin: 2em 0;
    }
    .column_two .socials {
        margin: -13em 1em -6em 0 ;
    }
    .column_two .col_one .overlay .socials img {
        width: 2em;
    }
    .body_content .column_two .col_one .overlay .illustration img{
        width: 20em;
        margin: -10.5em 0 0 -6em;
    }
}
@media all and (min-width: 600px) {
    footer .footer_content .Copyrights .col_one {
        display: grid;
        grid-template-columns: 30em 20em 10em;
        justify-content: center;
    }
    footer .footer_content .Copyrights .col_one .companyrights {
        display: grid;
        justify-content: center;
    }
}
@media all and (min-width: 760px) {
    .body_content .row_one {
        padding-top: 4em;
    }
    .body_content .row_one .column_one {
        margin-left: 2em;
    }
}
@media all and (min-width: 800px) {
    header .navigation .row_one .column_one .navi_items .nav_list ul {
        margin-left: 5em;
    }
    header .navigation .row_one .column_one .navi_items .nav_list ul li a {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .body_content .row_one {
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.5em;
    }
    .body_content .row_one .column_one {
        margin-left: 0;
    }
    .body_content .row_one .col_one .main_txt {
        margin: 0;
        margin-bottom: 2em;
    }
    .body_content .row_one .col_one .main_txt h1,
    .body_content .row_one .col_one .main_txt h2{
        font-size: 45px;
    }
    .body_content .row_one .col_one .main_txt p {
        line-height: 19px;
        font-size: 15px;
    }
    .body_content .column_two .col_one .overlay {
        padding: 13em 0;
        width: 20em;
        margin: 0;
    }
    .body_content .column_two {
        margin: 0;
    }
    .column_two .socials {
        margin: -19em 1.2em -6em 0 ;
        position: relative;
        z-index: 2;
    }
    .column_two .col_one .overlay .socials img {
        width: 3.3em;
    }
    .column_two .col_one .overlay .socials .linethrough {
        height: 5em;
        width: .1em;
        margin: .6em 0;
        margin-left: 1.5em;
    }
    .column_two .col_one .overlay .socials .platform img {
        width: 3.2em;
        padding: .8em 1.2em;
        border-radius: 20px;
    }
    .body_content .column_two .col_one .overlay .illustration img{
        position: relative;
        width: 140%;
        z-index: 1;
        margin: -14.6em 0 0 -8em;
    }
}
@media all and (min-width: 1030px) {
    .body_content .row_one {
        width: 80%;
        grid-gap: 2.5em;
    }
    .body_content .column_two .col_one .overlay {
        padding: 14em 0;
        width: 23em;
    }.body_content .column_two .col_one .overlay .illustration img{
        margin: -17em 0 0 -9em;
    }
    .body_content .column_one .col_two .leading_ads {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        padding: 2em;
        max-width: 25em;
    }
}